$breakpoint-standardMobile: 1100px;

//chose 1100px because it encompases all mobile devices, and tablets up to iPad size in portrat and landscape mode.

body {
    margin: 0px;
    padding: 0px;
}


.navbar {
    color: #fff;
    width: 70%;
    overflow: hidden;
    height: 100px;
    margin-left: 15%;
    margin-right: 15%;



    &-theorem {
        height: 100px;
        width: 35%;
        float: left;

        img {
            height: 100%;
            display: block;
            margin: 0px auto;
        }
    }

    &-spacer {
        float: left;
        color: #333;
        font-size: 85px;
        height: 50px;
    }

    &-aflac {
        height: 100px;

        width: 28%;
        float: left;

        img {
            height: 70%;
            display: block;
            margin: 8px auto;
        }
    }

    &-sign-out {
        background: #00A5E6;
        color: #fff;
        padding: 18px;
        float: right;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: bold;
        height: 100%;



        &:hover {
            text-decoration: underline;
        }
    }

}



@media (max-width: $breakpoint-standardMobile) and (orientation : portrait) {

  .sidenav-wrap-theorem{
    float: left;
  }

  .navbar {
      color: #fff;
      width: 100%;
      overflow: hidden;
      height: 50px;
      margin-left: 0%;
      margin-right: 0%;

      &-theorem {
          float: left;
          height: 50px;
          width: 40%;
          max-width: 150px;
          float: left;

          img {
              height: 90%;
              width: 100%;
              display: block;
              margin: 0px auto;
              float: left;
              max-width: 150px;
          }
      }

      &-spacer {
          float: left;
          color: #333;
          width: 0.5%;
          max-width: 5px;
          margin-left: 0%;
          margin-right: 12px;
          font-size: 37px;

          height: 50px;

      }

      &-aflac {
          width: 22%;
          max-width: 80px;
          float: left;


          height: 50px;



          img {
              height: 55%;
              display: block;
              width: 100%;
              margin: 8px auto;
              float: left;
              max-width: 80px;

          }
      }

      &-sign-out {
          background: #00A5E6;
          color: #fff;
          padding: 18px;
          float: right;
          font-family: sans-serif;
          text-decoration: none;
          font-weight: bold;
          height: 100%;

          &:hover {
              text-decoration: underline;
          }
      }

  }

}


@media (max-width: $breakpoint-standardMobile) and (orientation : landscape) {

  .navbar {
      width: 100%;
      height: 60px;
      margin: 0px;

      &-theorem {
          float: left;
          width: 25%;
          height: 70px;

          img {
              height: 90%;
              width: 100%;
              display: block;
              margin: 0px auto;
              padding: 0px;
              margin: 0px;
              float: left;
              max-width: 250px;
          }
      }

      &-spacer {
          width: 0.5%;
          margin-right: 2.8%;
          margin-top: 0.4%;
          font-size: 50px;
      }

      &-aflac {
          width: 28%;
          float: left;
          height: 70px;

          img {
              height: 55%;
              display: block;
              width: 58%;
              margin-top: 11px;
              margin-left: 0px;
          }
      }

      &-sign-out {
          background: #00A5E6;
          color: #fff;
          padding: 18px;
          float: right;
          font-family: sans-serif;
          text-decoration: none;
          font-weight: bold;
          height: 100%;

          &:hover {
              text-decoration: underline;
          }
      }
  }

}