// Sidebar Nav Component Styles
.sidenav {
    color: #fff;
    width: 15vw;
    float: left;
    height: 100vh;
    padding-top: 30px;

    &-links {
        display: flex;
        flex-direction: column;
        
        .nav-button {
            height: 50px;
            font-size: 15px;
            color: black;
            text-align: center;
            font-family: sans-serif;
            line-height: 50px;
            
            img.left-arrow {
                height: 25px;
                float: left;
                margin: 10px -40px 10px 25px;
            }

            &.active-view-button {
                color: #F88C00;
                font-weight: bold;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}