/* Aflac Color Scheme */
$aflac-blue: #00A5E6;
$aflac-orange: #F88C00;
$aflac-medium-blue: #0068A7;
$aflac-dark-blue: #054C86;
$aflac-light-orange: #FAB25A;
$aflac-grey: #7D7D7D;
$white: #fff;
$black: #000;